aiogram==3.13.1
SQLAlchemy==2.0.35
asyncpg==0.29.0
alembic==1.13.3
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.5.2
rapidfuzz==3.9.7
redis==5.0.8
apscheduler==3.10.4
Pillow==10.4.0
ImageHash==4.3.1
aiohttp==3.10.5
